.th-content{
font-size: 15px;
font-weight: 400;
}

.text-start{
    font-weight: 500;
}

.more-details{
    font-size: 1.2rem;
    color:rgb(8, 61, 165);
    font-weight: 400;
    text-decoration: none;
}

.more-details:hover{
    color: white;
}
.more-details-extra{
    font-size: 1.2rem;
    color: rgb(8, 61, 165);
    font-weight: 400;
    text-decoration: none;
}
.more-details-extra:hover{
    color: white;
}

button:hover{
    color: white;

}

#hidden_block{
    display: none;
}


.form-control{
    width: 60rem;
    height: 3rem;
}


.nav-item a:hover {
    color: rgb(42, 131, 233) !important;
}
